<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <ul>
        <li><a href="/users">Användare</a></li>
        <li><a href="/users/create">Skapa Användare</a></li>
        <li><a href="/rentals">Lediga lägenheter</a></li>
        <li><a href="/searches">Sökningar</a></li>
        <li><a href="/searches/create">Skapa Sökningar</a></li>
    </ul>
</div>

<div>
    <h2>Lediga lägenheter</h2>
    <ul>
        {{#each list}}
        <li>
            <p><strong>{{Stadsdel}}, {{Gatuadress}}</strong></p>
            <p>Antal rum {{AntalRum}}</p>
            <p>{{Yta}} m<sup>2</sup></p>
            <p>{{Hyra}} kr/mån</p>
            <p>{{AnnonseradTill}}</p>
            </li>
        {{/each}}
    </ul>
</div>
