<div>
    <p>Antal: {{rentals.length}}</p>
    <form action="" method="post">
        <input type="text" name="search" id="search" value="{{#if term}}{{term}}{{/if}}" />
    </form>
    <div>
    {{#if term}}<h2>Resultat för "{{term}}”</h2>{{/if}}
    <ul>
        {{#each rentals}}
        <li>
            <h3>{{Stadsdel}}, {{Gatuadress}}</h3>
            <p>Antal rum: {{AntalRum}}</p>
            <p>Yta: {{ytaString}}</p>
            <p>Hyra: {{hyraString}}</p>
            <p><a href="{{url}}">Länk</a></p>
        </li>
        {{/each}}
    </ul>
    </div>
</div>