<p>Welcome to {{title}}</p>
<div>
    <p>Antal: {{rentals.length}}</p>
    <div><h2>Resultat</h2>
    <ul>
        {{#each rentals}}
        <li>
            <h3>{{Stadsdel}}, {{Gatuadress}}</h3>
            <p>Antal rum: {{AntalRum}}</p>
            <p>Yta: {{ytaString}}</p>
            <p>Hyra: {{hyraString}}</p>
            <p><a href="{{url}}">Länk</a></p>
        </li>
        {{/each}}
    </ul>
    </div>
</div>