<h2>{{title}}</h2>
<div>
    <div>
        <h3>{{rental.Stadsdel}}, {{rental.Gatuadress}}</h3>
        <p>Antal rum: {{rental.AntalRum}}</p>
        <p>Yta: {{rental.ytaString}}</p>
        <p>Hyra: {{rental.hyraString}}</p>
        <p><a href="{{rental.url}}">Länk</a></p>
    </div>
</div>