<p>Welcome to {{title}}</p>
<div>
    <p>Antal: {{searches.length}}</p>
    <div><h2>Resultat</h2>
    <ul>
        {{#each searches}}
        <li>
            Områden: {{Stadsdelar}}<br>
            Minsta antal rum: {{minRooms}}<br>
            Maxhyra: {{maxRent}}<br>
            Användare: {{user.name}}, {{user.email}}<br>
            <hr>
        </li>
        {{/each}}
    </ul>
    </div>
</div>